
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #634f4f;
    color: white;
    padding: 10px;
}

.img {
    width: 100%; 
}

#main {
    color: rgb(226, 182, 99);
}

.navbar-brand {
    text-decoration: none;
    color: white;
}

.navbar {
    padding: 10px 20px;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin-left: 20px;
}

.navbar-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1em;
}

.navbar-nav a:hover {
    background-color: #555;
    border-radius: 0.5em;
}

.collage-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    gap: 10px; 
    height: 100vh;
    padding: 20px;
    position: relative;
}

.collage-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.collage-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item1 {
    grid-column: span 1;
    grid-row: span 1;
}

.item2 {
    grid-column: span 1;
    grid-row: span 1;
}

.item3 {
    grid-column: span 2;
    grid-row: span 1;
}

.item4 {
    grid-column: span 1;
    grid-row: span 1;
}

.item5 {
    grid-column: span 2;
    grid-row: span 2;
}

.item6 {
    grid-column: span 1;
    grid-row: span 1;
}

.item7 {
    grid-column: span 1;
    grid-row: span 2;
}

.collage-item p {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 10px;
}

footer {
    background-color: #634f4f;
    color: rgb(226, 182, 99);
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}


@media (max-width: 1024px) {
    .navbar-nav {
        font-size: 1rem;
    }

    .navbar-nav li {
        margin-left: 10px;
    }

    .collage-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .collage-item {
        padding: 5px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 1.5%;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-nav li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .collage-container {
        grid-template-columns: 1fr;
        height: auto;
        padding: 10px;
    }

    .img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .navbar-nav a {
        font-size: 1.1rem;
        padding: 0.8em;
    }

    .collage-item p {
        font-size: 12px;
    }
}
